<div class="container">

  <div class="col-md-8">

    <div class="col-md-9">
      <h2>Current Projects</h2>

      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h3>Bakery Support Project</h3>
        This project aims to fund Khayr’s bakeries in the Idlib Countryside and in Deir Ezzor such that they are able to produce 20,000 bags of bread on a daily …
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h3>Baby Milk Project</h3>
        This project aims to deliver kits containing daily hygiene essentials to displaced families. 5,000 kits are to be delivered to 5,000 families in various …
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h3>Hygiene Kit Project</h3>
        This project aims to deliver formula to infants in Aleppo, Homs, Damascus Suburbs, Hama, Daraa, Deir Ezzor, and Idlib whose families who are unable to procure …
      </div>




    </div>

    <div class="col-md-3">
      <h2>Latest News</h2>
      <small>2016/08/17</small><br>
      <strong>KHAYR announces Qurbani campaign</strong><br><br>
      <small>2013/10/07</small><br>
      <strong>Khayr Supplies Cover Three Syrian Provinces</strong><br><br>
      <small>2013/10/06</small><br>
      <strong>Khayr Supports Talbiseh’s Bakery</strong><br><br>
      <small>2013/10/06</small><br>
      <strong>Khayr’s Food Baskets in Lebanon</strong><br><br>
      <small>2013/10/06</small><br>
      <strong>Khayr’s Food Baskets in Deir Ezzor and Al Raqqa</strong><br><br>

















    </div>


  </div>


  <div class="col-md-3">





  </div>




</div>
