<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @watanprogram.name %>
</p>

<%= link_to 'Edit', edit_watanprogram_path(@watanprogram) %> |
<%= link_to 'Back', watanprograms_path %>
