<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Editing Home Page Slide</div>


    <%= render 'form' %>

    <%= link_to 'Show', @slide %> |
    <%= link_to 'Back', slides_path %>
  </div>
</div>
</div>

