<!-- main-container start -->
<!-- ================ -->
<section id="about" class="main-container">
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="page-title">Who We Are</h2>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-6">



            <h3>Founding</h3>
            <p>In 2012 Watan began operating as a framework for various organizations and groups, some of which had started operations
              in 2006. Watan operates within social and developmental circles, striving to be a non-political umbrella for young activists
              to gather under.</p>

            <h3>Mission</h3>
            <p>We strive to develop individuals and society through a group of civil society institutions run by specialized personnel.
              We aim to establish our presence throughout Syria, in all its provinces, and wherever Syrian communities exist. We focus on
              nation building and developmental projects.</p>

            <h3>Vision</h3>
            <p>To be recognized as the pioneer of Syrian national development, in order to help build the Syria of the future.</p>




          </div>

          <!-- sidebar start -->
          <!-- ================ -->
          <aside class="sidebar col-md-6">
            <div class="block clearfix">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
            </div>
          </aside>
          <!-- sidebar end -->
        </div>



        <div class="row">
          <div class="col-md-6">

            <h3>Values</h3>

            <ul>
              <li>Collective work</li>
              <li>Creativity</li>
              <li>Mutual respect</li>
              <li>Sincerity</li>
              <li>Professionalism</li>
              <li>Honesty</li>
              <li>Partnership rather than competition</li>
              <li>Commitment</li>
              <li>Productivity</li>
              <li>Transparency</li>
              <li>Excellence</li>
            </ul>
</div>
          <div class="col-md-6">
            <h3>Objectives</h3>


            <ul>
              <li>To train and develop the individual, so they can play an active role in Syria’s progress.</li>
              <li>To support Syrian society by providing services that promote its progress and development.</li>
              <li>To work in every governorate in Syria, and wherever Syrian communities exist and establish branches for all
                the institutions of Watan therein.</li>
              <li>To establish developmental projects that are within Watans realm of expertise, which Syrians will need after the end of the conflict.</li>
              <li>To promote the concept of civil society institutions in Syria.</li>
              <li>To Influence the political process so as to direct it towards serving the country and its citizens and to ensure that
                human rights are upheld and that citizens play an active role in society.</li>
            </ul>

          </div>
          </div>




          </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->