<% @institutes=Institute.where('id <> 1') %>
<!-- main-container start -->
<!-- ================ -->

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="page-title"><%= @aboutpage.title.html_safe if @aboutpage.title %></h2>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-8">

            <%= @aboutpage.body.html_safe if @aboutpage.body %>


          </div>

          <!-- sidebar start -->
          <!-- ================ -->

          <!-- sidebar end -->
        </div>






          </div>
      <!-- main end -->

    </div>
  </div>

<!-- main-container end -->