<!-- section start -->
<!-- ================ -->
<section class="full-width-section">
  <div class="full-image-container border-clear light-gray-bg">
    <img class="to-right-block" src="images/beauty-section-1.jpg" alt="">
    <div class="full-image-overlay text-right">
      <h3>With Compassionate Care Since 1930</h3>
      <ul class="list-icons">
        <li>We are here to support you <i class="icon-check-1"></i></li>
        <li>Free updates <i class="icon-check-1"></i></li>
        <li>ipsam asperiores fugiat quo <i class="icon-check-1"></i></li>
        <li>Animi veniam veritatis sint <i class="icon-check-1"></i></li>
        <li>Voluptatum officia suscipit <i class="icon-check-1"></i></li>
        <li>Unlimited options and variations <i class="icon-check-1"></i></li>
      </ul>
    </div>
  </div>
  <div class="full-text-container border-clear light-gray-bg">
    <h3 class="logo-font text-muted">We <span class="text-default">Care</span> About You</h3>
    <div class="separator-2 visible-lg"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
    <div class="separator-3 visible-lg"></div>
  </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-40 clearfix">
  <div class="container">
    <h3 class="title space-top logo-font text-center text-default">The Beauty</h3>
    <div class="separator"></div>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aut voluptates quia <br> eveniet velit inventore, corporis, rem laboriosam. Ex ipsam nihil, quos dicta atque alias vel sunt. Libero, molestiae quidem?</p>
    <br>
    <div class="row grid-space-10">
      <div class="col-sm-6 col-md-3">
        <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
          <span class="icon default-bg circle"><i class="fa fa-plus-square"></i></span>
          <h3>Since 1930</h3>
          <div class="separator clearfix"></div>
          <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
          <a href="#" class="btn btn-default btn-animated">Read More <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
          <span class="icon default-bg circle"><i class="fa fa-hospital-o"></i></span>
          <h3>Apointments</h3>
          <div class="separator clearfix"></div>
          <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
          <a href="#" class="btn btn-default btn-animated">Make An Apointment <i class="pl-5 fa fa-calendar"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pv-30 ph-20 default-bg feature-box bordered text-center">
          <span class="icon dark-bg circle"><i class="fa fa-hand-peace-o"></i></span>
          <h3>Special Deals</h3>
          <div class="separator clearfix"></div>
          <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
          <a href="#" class="btn btn-default btn-animated">Call Us <i class="pl-5 fa fa-phone"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
          <span class="icon default-bg circle"><i class="glyphicon glyphicon-time"></i></span>
          <h3>Opening Hours</h3>
          <div class="separator-2 mt-20 clearfix"></div>
          <ul class="list-unstyled small list-icons text-left">
            <li><strong class="text-default">Monday - Friday</strong> <span class="pull-right">8.00 - 18.00</span></li>
            <li><strong class="text-default">Saturday</strong> <span class="pull-right">9.00 - 16.30</span></li>
            <li><strong class="text-default">Sunday</strong> <span class="pull-right">9.30 - 16.00</span></li>
          </ul>
          <div class="separator-3 mt-20 clearfix"></div>
          <p class="small text-default">Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action pv-40 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h2 class="title">Join Us Now</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
              <div class="separator"></div>
              <form class="form-inline margin-clear">
                <div class="form-group has-feedback">
                  <label class="sr-only" for="subscribe2">Email address</label>
                  <input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
                  <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->