<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

  <!-- slideshow start -->
  <!-- ================ -->
  <div class="slideshow">

    <!-- slider revolution start -->
    <!-- ================ -->
    <div class="slider-banner-container">
      <div class="slider-banner-fullscreen">
        <ul class="slides">


          <% @myslides.each do |slide| %>

              <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Template">

              <!--<li data-transition="fade" data-masterspeed="default" data-title="Simple and Smart Bootstrap Template">-->



                <!--  <li data-transition="boxfade" data-slotamount="7" data-masterspeed="default" data-title="Simple and Smart Bootstrap Template">-->

                <!-- main image -->
                <%= image_tag slide.file.url, :data => { :bgposition => "center top", :bgrepeat => "no-repeat", :bgfit => "cover"}  %>

                <!-- <img src="images/corporate-4-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">-->

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                     data-x="center"
                     data-y="bottom"
                     data-speed="500"
                     data-easing="easeOutQuad"
                     data-start="0">
              </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout large_white"
                     data-x="left"
                     data-y="100"
                     data-speed="500"
                     data-start="1000"
                     data-easing="easeOutQuad"><span class="logo-font">The Beauty</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout large_white tp-resizeme"
                     data-x="left"
                     data-y="170"
                     data-speed="500"
                     data-start="1300"
                     data-easing="easeOutQuad"><div class="separator-2 light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb fadeout medium_white"
                     data-x="left"
                     data-y="190"
                     data-speed="500"
                     data-start="1300"
                     data-easing="easeOutQuad"
                     data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb fadeout small_white"
                     data-x="left"
                     data-y="300"
                     data-speed="500"
                     data-start="1600"
                     data-easing="easeOutQuad"
                     data-endspeed="600"><a href="#" class="btn btn-gray btn-lg btn-animated">Learn More <i class="fa fa-info-circle"></i></a>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption fade fadeout"
                     data-x="center"
                     data-y="bottom"
                     data-voffset="100"
                     data-speed="500"
                     data-easing="easeOutQuad"
                     data-start="2000"
                     data-endspeed="200">
                  <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>













          <% end %>





























        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
    <!-- slider revolution end -->

  </div>
  <!-- slideshow end -->

</div>
<!-- banner end -->
