
<!-- main-container start -->
<!-- ================ -->

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="page-title"><%= @donatepage.title.html_safe if @donatepage.title %></h2>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-8">

            <%= @donatepage.body.html_safe if @donatepage.body %>
          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->
