
<% @posts=Post.all %>
<!-- section start -->
<!-- ================ -->
<section id="news" class="light-gray-bg pv-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">





        <h2>Latest News and Events</h2>

        <% @posts.each do |post| %>
            <% thisimg = @imgArray.sample %>

            <div class="col-md-6">
              <div class="col-sm-5">
                <%= image_tag(thisimg, :width => "160", alt: "Watan Syria") %>

                </div>

              <div class="col-sm-7">
                <small><%= post.published_at %></small>
                <h4><%= post.title %></h4>
                <%= link_to 'Learn more...', post %>
              </div>


            </div>

        <% end %>

        </div>




    </div>


</div>










</section>
<!-- section end -->