<!-- section start -->
<!-- ================ -->
<section class="section dark-translucent-bg parallax background-img-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="title">Don't Miss Out Our Offers</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur consectetur, a atque voluptate officiis eligendi nostrum.</p>
            </div>
            <div class="col-sm-4">
              <br>
              <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->