<!-- section start -->
<!-- ================ -->
<section id="pricing" class="pv-20 padding-bottom-clear clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Choose Your Plan</h2>
        <div class="separator"></div>
        <p class="text-center large space-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veritatis unde quibusdam, saepe quidem nisi aliquid illo distinctio, cum id dolorum consectetur ipsam perspiciatis provident voluptatibus quaerat! Nulla, quaerat! Possimus.</p>
      </div>
    </div>
    <!-- pricing tables start -->
    <!-- ================ -->
    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
      <div class="row grid-space-10">
        <div class="col-sm-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>Basic</h3>
              <div class="price"><span>Free</span></div>
            </div>
            <ul class="">
              <li>1 User</li>
              <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
              </li>
              <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
              </li>
              <li>Subdomains</li>
              <li>Security</li>
              <li>Bandwidth</li>
              <li>Databases</li>
              <li><a class="btn btn-dark radius-50 btn-animated btn-lg">Subscribe <i class="fa fa-user"></i></a></li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-sm-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered best-value">
            <div class="header default-bg">
              <h3>Premium</h3>
              <div class="price"><span>$19.99</span>/m.</div>
            </div>
            <ul>
              <li>80 Users</li>
              <li>Unlimited Disk Space</li>
              <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Unlimited Subdomains">Unlimited Email Acounts</a>
              </li>
              <li>Subdomains</li>
              <li>Security</li>
              <li>500 Visitors per month</li>
              <li>1 Database</li>
              <li><a class="btn btn-default btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-sm-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>Pro</h3>
              <div class="price"><span>$24.99</span>/m.</div>
            </div>
            <ul>
              <li>Unlimited Users</li>
              <li>Unlimited Disk Space</li>
              <li>Unlimited Email Acounts</li>
              <li>Unlimited Subdomains</li>
              <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
              </li>
              <li>Unlimited Bandwidth</li>
              <li>Unlimited Databases</li>
              <li><a class="btn btn-dark btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
      </div>
    </div>
    <!-- pricing tables end -->
  </div>
</section>
<!-- section end -->
