<!-- section start -->
<!-- ================ -->
<section id="services" class="light-gray-bg pv-30 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Main <strong>Services</strong></h2>
        <div class="separator"></div>
        <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
      </div>
      <div class="col-sm-4">
        <div class="image-box style-2 mb-20">
          <div class="overlay-container overlay-visible">
            <img src="images/service-1.jpg" alt="">
            <a href="images/service-1.jpg" class="overlay-link popup-img"><i class="fa fa-plus"></i></a>
            <div class="overlay-bottom hidden-xs">
              <div class="text">
                <p class="lead margin-clear text-left">Service One</p>
              </div>
            </div>
          </div>
          <div class="body padding-horizontal-clear">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-box style-2 mb-20">
          <div class="overlay-container overlay-visible">
            <img src="images/service-2.jpg" alt="">
            <a href="images/service-2.jpg" class="overlay-link popup-img"><i class="fa fa-plus"></i></a>
            <div class="overlay-bottom hidden-xs">
              <div class="text">
                <p class="lead margin-clear text-left">Service One</p>
              </div>
            </div>
          </div>
          <div class="body padding-horizontal-clear">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-box style-2 mb-20">
          <div class="overlay-container overlay-visible">
            <img src="images/service-3.jpg" alt="">
            <a href="images/service-3.jpg" class="overlay-link popup-img"><i class="fa fa-plus"></i></a>
            <div class="overlay-bottom hidden-xs">
              <div class="text">
                <p class="lead margin-clear text-left">Service One</p>
              </div>
            </div>
          </div>
          <div class="body padding-horizontal-clear">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->