<%= render_shareable %>

<style>
    ul.xsocial-stack {

        background: #E5E5E5;
        line-height: 2.75em;
        width: auto;
        height: auto !important;
        display: inline;
        font-size: 16px;
        margin: 0;
        font-family: inherit;
        padding: 0;
        direction: ltr;
    }

    ul.xsocial-stack li {
        width: 45px;
        height: 45px;
        display: inline-block;
        text-align: center;
        float: left;
        font-size: 1.5em;
    }

</style>





<ul class="xsocial-stack">
  <li class="facebook"><a href="https://www.facebook.com/WatanSyria" title="Watan on Facebook"><span class="icon-facebook"></span></a></li>
  <li class="twitter"><a href="https://twitter.com/WatanSyria" title="Watan on Twitter"><span class="icon-twitter"></span></a></li>
  <li class="youtube"><a href="http://www.youtube.com/user/WatanSyria" title="Watan on Youtube"><span class="icon-youtube"></span><i class="icon-youtube"></i></a></li>
  <li class="flickr"><a href="http://www.flickr.com/photos/100690720@N04/" title="Watan on Flickr"><span class="icon-flickr"></span></a></li>
  <li class="email"><a href="http://www.watansyria.org/en/contact-us/" title="Contact Watan"><span class="icon-paper-plane"></span></a></li>
  <li class="instagram"><a href="http://instagram.com/watansyria" title="Watan on Instagram"><span class="icon-instagram"></span></a></li>
  <li class="linkedin"><a href="http://www.linkedin.com/company/watansyria" title="Watan on LinkedIn"><span class="icon-linkedin"></span></a></li>
  <li class="rss"><a href="http://www.watansyria.org/en/feed" title="RSS Feed"><span class="icon-rss"></span></a></li>
  <li class="en"><a href="http://www.watansyria.org/">عربي</a></li>
</ul>














