<!-- section start -->
<!-- ================ -->
<section class="stats padding-bottom-clear dark-translucent-bg hovered" style="background-image:url('images/page-about-banner-1.jpg'); background-position: 50% 50%;">
  <div class="clearfix">
    <div class="col-md-3 pv-40 dark-translucent-bg col-xs-12 col-sm-3 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <h2><strong>Why Us?</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="#" class="btn btn-default radius-50">Learn More</a></p>
      </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
      <br>
      <br>
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-users"></i></span>
        <h3><strong>Clients</strong></h3>
        <span class="counter" data-to="1225" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
      <br>
      <br>
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-cloud-download"></i></span>
        <h3><strong>Downloads</strong></h3>
        <span class="counter" data-to="12235" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
      <br>
      <br>
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-share"></i></span>
        <h3><strong>Shares</strong></h3>
        <span class="counter" data-to="15002" data-speed="5000">0</span>
      </div>
    </div>
  </div>
</section>
<!-- section end -->