
<div class="banner dark-translucent-bg" style="background-image:url('/assets/img_camera.jpg'); background-position: 50% 27%;">
  <!-- breadcrumb start -->
  <!-- ================ -->
  <div class="breadcrumb-container">
    <div class="container">
      <ol class="breadcrumb">
        <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
        <li class="active">Page About</li>
      </ol>
    </div>
  </div>
  <!-- breadcrumb end -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center col-md-offset-2 pv-20">
        <h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
          <%#= image_tag("logo PNG_white.png", height: "50%", alt: "Edit Entry") %></h3>
        <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
          To be recognized as the pioneer of Syrian national development, in order to help build the Syria of the future.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->
<!-- ================ -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Page Left Sidebar</h1>
        <div class="separator-2"></div>
        <!-- page-title end -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quia, corrupti accusamus odio, deserunt dicta natus necessitatibus dolores eligendi quis tempore? Tempora, exercitationem consectetur tenetur, incidunt reiciendis architecto beatae nesciunt sed quibusdam labore sequi amet ullam necessitatibus dolores tempore quas, dolor eius veniam nemo quasi quo voluptate. Fugit consequatur minima, repudiandae. Dignissimos cum omnis ratione debitis, voluptate cumque nesciunt impedit facere culpa labore alias nulla quod, assumenda asperiores. Rem quisquam consequuntur maiores aliquam illo rerum nihil pariatur delectus perspiciatis obcaecati, debitis commodi eaque in tenetur, velit explicabo non autem labore molestias? Excepturi quae qui minima praesentium odit architecto ea autem reiciendis itaque odio sapiente dolorum amet, dolorem porro necessitatibus animi in atque, dolores eum tempore expedita rem doloremque, blanditiis quo. Tempora impedit, nisi excepturi! Rerum repudiandae, totam. Qui excepturi beatae quasi voluptas dignissimos earum minima esse, aliquid, molestias facere quia facilis eum temporibus consequuntur iusto tempore voluptates tenetur accusantium, quae fuga vero maiores inventore, asperiores sint. Praesentium officiis nihil illum culpa delectus? Autem architecto numquam vero nostrum, explicabo quia similique. Cumque doloremque quae praesentium deserunt dicta odio, debitis est iusto aut officia perferendis molestias consequuntur itaque atque a recusandae soluta, similique, modi amet quo. Omnis, error. A inventore soluta voluptatibus! Eius, veniam distinctio ut! Ducimus nisi ea quam recusandae, quidem commodi, est exercitationem illum esse saepe numquam amet culpa nobis adipisci ad quo nemo fuga, asperiores assumenda, laboriosam incidunt obcaecati eligendi facilis neque magnam? Porro modi, minima recusandae assumenda ratione nulla sed provident repellendus consequuntur possimus cupiditate nihil perferendis ut?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sit, similique iusto ullam non animi expedita praesentium consequatur nobis culpa nam earum corrupti, est consectetur fugiat neque esse ut. Distinctio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quam aliquam, sequi quasi culpa, sapiente deleniti laboriosam minus harum sit enim molestiae voluptate repellat similique veniam maiores commodi assumenda voluptatum. Cumque tempora voluptate ratione fugiat blanditiis possimus placeat! Provident at facere officia ipsum natus totam sit maxime eum est vel quo aliquam veniam praesentium sed adipisci harum, nemo similique ea iure esse. Voluptas, nobis, autem. Architecto animi mollitia, unde impedit nemo eum blanditiis suscipit repellat soluta qui eligendi, alias tempore.</p>

      </div>
      <!-- main end -->

      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title">Sidebar menu</h3>
            <div class="separator-2"></div>
            <nav>
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="blog-large-image-right-sidebar.html">Blog</a></li>
                <li><a href="portfolio-grid-2-3-col.html">Portfolio</a></li>
                <li><a href="page-about.html">About</a></li>
                <li><a href="page-contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="block clearfix">
            <h3 class="title">Featured Project</h3>
            <div class="separator-2"></div>
            <div id="carousel-portfolio-sidebar" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-portfolio-sidebar" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-portfolio-sidebar" data-slide-to="1"></li>
                <li data-target="#carousel-portfolio-sidebar" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="image-box shadow text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/portfolio-11.jpg" alt="">
                      <a href="portfolio-item.html" class="overlay-link">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image-box shadow text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/portfolio-1-2.jpg" alt="">
                      <a href="portfolio-item.html" class="overlay-link">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image-box shadow text-center mb-20">
                    <div class="overlay-container">
                      <img src="images/portfolio-1-3.jpg" alt="">
                      <a href="portfolio-item.html" class="overlay-link">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <!-- sidebar end -->

    </div>
  </div>
</section>