<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Editing Project</div>


    <%= render 'form' %>

    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>
</div>


