<table id="example" class="hover" cellspacing="0" width="100%">


  <tbody>
  <% @posts.each do |post| %>
      <tr>

        <td> <%= image_tag post.image.url, :width => "100", :class => "pull-left" %></td>
        <td width="100px"><%= post.published_at %></td>
        <td><%= link_to post.title, post %></td>


        <!--<td><%#= link_to 'Show', post %></td>
        <td><%#= link_to 'Edit', edit_post_path(post) %></td>
        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
  <% end %>
  </tbody>
</table>
