<p id="notice"><%= notice %></p>













<h1>Listing Posts</h1>
<%= render 'posts/posts_table' %>

<%= link_to 'New Post', new_post_path %>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>