/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker.min";
@import "datatables";
@import "dataTables.bootstrap";
@import "jquery.dataTables";
@import "dataTables.jqueryui";
@import "animation";
@import "fontello";
@import "fontello-codes";
@import "fontello-embedded";
@import "fontello-ie7";
@import "fontello-ie7-codes";
@import "magnific-popup";
@import "settings";
@import "layers";
@import "navigation.css";
@import "animations";
@import "owl.carousel";
@import "owl.transitions";
@import "hover-min";
@import "morphext";
@import "style";
@import "light_blue";
@import "custom";
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome";



.navbar.navbar-default-horiat {
  background-color: #047832;
  border: none;
  margin: 0;
}



.navbar.navbar-default-khayr {
  background-color: #535353;
  border: none;
  margin: 0;
}
a {
  color: #fff;
}

.transparent-header header.header.transparent-header-on {
  z-index: 22;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-top-color: #a0a0a0;
}


