/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker.min";
@import "font-awesome";
@import "animations";
@import "fontello";
@import "magnific-popup";
@import "settings";
@import "animations";
@import "owl.carousel";
@import "owl.transitions";
@import "hover-min";
@import "style";
@import "light_blue";
@import "custom";
@import "froala_editor.min";
@import "froala_style.min";
@import "plugins/code_view.min";
@import "plugins/image.min";




@font-face {
  font-family: "AvenirNextLTPro";
  src: font-url('/assets/AvenirNextLTPro-Regular.otf') format("opentype");
  font-size: normal;
  font-weight: normal;
}


body {
  font-family: 'AvenirNextLTPro';
}

.transparent-header header.header.dark.transparent-header-on {
  background-color: #002742;
  border-top-color: rgba(37, 42, 44, 0.5);
}

.dark.header .dropdown-menu {
  background-color: #002742;
  border: 1px solid rgba(57, 66, 69, 0.8);
}

.header-top.dark {
  background-color: #ffffff;
  border-bottom: 1px solid #252a2c;
  font-size: 18px;
}

.header-top.dark, .header-top.colored {
  color: #666666;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
.dark .footer {
  background-color: #002742;
}

h1, h2, h3, h4, h5, h6, .navbar .navbar-nav {
  font-family: 'AvenirNextLTPro';
}


.navbar-nav {
  font-family: 'AvenirNextLTPro';
}


.sectionbanner {
  background-color: #002742;
  color: #fff;
  text-align: center;
  font-size: 24px;
}



.watanblue {background-color: #002742;}
.watandarkgray {background-color: #85868A;}
.watanlightgray {background-color: #009892;}
.watandarkred {background-color: darkred;}
