
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-sm-7 col-md-3 col-lg-4 col-lg-offset-1">
            <div class="footer-content" style="color: #fff">
              <h2 class="title"></h2>



              <strong>Registration in Turkey</strong><br>
              VATAN DERNEĞİ, registration NO. 27 017 095 <br>
              ÇOK HAYIR SEVENLER YARDIMLAŞMA DERNEĞİĞİ, registration NO. 27 017 088 <br><br>
              <strong>Registration in UK:</strong><br>
              Watan Association Limited, registration No. 08098547 <br>
              Khayr Charity, charity Registration No. 1148324 <br><br>
                <strong>Registration in US:</strong><br>
              3341941-Watan Inc., registration No. 41<br>











            </div>
          </div>
          <div class="col-sm-5 col-md-3 col-lg-4 col-lg-offset-1">
            <div class="footer-content">
              <h2 class="title">Follow Watan on Social Media</h2>

              <ul class="social-links large circle animated-effect-1">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
          </div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="subfooter-inner">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Copyright © 2017 Watan Syria    Site Developed by Artisan Solutions LLC - All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
<!-- footer end -->